.wrapper {
  display: flex;
  border-bottom: 1px solid grey;
  height: 50px;
  align-items: center;
  justify-content: center;
}
.styler {
  border-right: 1px solid grey;
  padding-right: 20px;
  margin-right: 20px;
}
.wrapper span:hover {
  color: blue;
}
