.eventSection {
  max-width: 960px;
  margin: auto;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 10px;
  align-items: center;
}
.showMore {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid blue;
  background-color: white;
}
