.eventImage {
  background-color: steelblue;
  height: 160px;
  border-radius: 7px;
  position: relative;
}
.eventImage svg {
  position: absolute;
  top: 10px;
  right: 10px;
}
.eventImage div {
  position: absolute;
  padding: 5px 10px;
  border-radius: 5px;
  bottom: 10px;
  left: 10px;
  background: rgba(0,0,0,.4);
  color: white;
  font-family: sans-serif;
}
.eventDescription {
  font-family: sans-serif;
}
.eventDescription h3 {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 16px;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.eventDescription p {
  margin: 0;
  font-size: 14px;
}
